# -*- coding: utf-8 -*-
"""
Created on Tue Apr 28 17:03:18 2020

@author: ASUS
"""


<head>
	<meta charset="UTF-8">
	<title>清大計財程設</title>
</head>

<body>
    <h1>計財簡介</h1>
    <p>數理頭腦＋財金專業 科技整合新趨勢</p>

    <p> 國內資本市場將全面開放，但金融實務界亟需的高級財金專業人才卻相當欠缺。專家指出，財金專業加上嚴謹的數理思惟訓練，將是西元兩千年最炙手可熱的專業人才。不僅在台北金融商圈，甚至在美國華爾街，都將最為搶手。

過去十年來，數理人才已成為華爾街身價最高的搶手貨，在知名投資銀行的研發部門中，理工背景出身的人士達三分之二以上。國外眾多衍生性商品操縱失利的例子，許多都是商品一開始設計的定價就有失誤，這也可以說明數理人才對當代金融業的重要性。

身為高素質的財務管理人才，不但經濟學與財務金融學本身的訓練要好，包括衍生性金融商品（如期貨、認購權證）定價、分析大量資料以評估風險、金融商品創新與金融科技相關領域等，更需要具備非常好的數理與統計根底。美國麻省理工學院、芝加哥大學及賓大華頓學院等美國一流商業教育學府，近年來都發展出綜合經濟、財務和統計等學科整合的課程，希望培養出具有堅實計量分析基礎的頂尖商業人才，此一風潮已蔚為美國財經學界的最新趨勢。

有鑑於此一可能導引未來財經學界重要趨勢已然形成，本系於八十六年加入大學聯招第二類組的招生，即是希望吸引有數理頭腦的年輕學子加入，為台灣培養高科技財經學養的人才，作人力資源的紮根工作，使我們亞太金融中心的夢想能更向前一步！

    </p>
</body>
